.fondoSinImg    {
        background-color:rgb(251,243,236);
    }
.fondoImg       {
        background-image: url("../CupcakeFactory/Logo//cupcakesf.png");
        background-repeat: repeat;
        background-position: center;
        }

    
h1
        {
        color:#f43c54;   
    }

h2  
        {
    text-align: center; 
    color:#f43c54;
    }
h3
    {
text-align: center; 
color:#6c0c20;
}

.centrado   {
        text-align: center;
    }
.izq        {
        text-align: left;
    }
th       {
        text-align: center;
    }

    
p       {
            color:#6c0c20;
        }
    
body       {
            text-align: center;
            background-color:rgb(251,243,236);
    }
    
table      {
        border-spacing: 15px;
        text-align: center;
        color:#6c0c20;
        margin: auto;
    }
    
td      {  
        text-align: center;
    }
ul      {
        color:#6c0c20;
    }
dl      {
        text-align: justify;
        color:#6c0c20;
        padding-left: 50px;
    }
a {
    color:#6c0c20;

}
